@import url('https://fonts.googleapis.com/css2?family=Benne&display=swap');

a:visited {
    color: inherit;
}

div.top-banner {
    position: relative;
    width: 100%;
    height: 75px;
    background-color: lightblue;
}

div.top-banner nav {
    display: block;
}

div.top-banner ul {
    list-style-type: none;

    margin: 0;
}

div.top-banner li {
    float: left;

    padding-top: 30px;
    padding-right: 1%;
}

div.top-banner nav ul li a {
    text-decoration: none;
    text-align: center;

    padding-top: 30px;
    padding-bottom: 28px;
}

div.top-banner nav ul li a:hover {
    animation-name: link-hover;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
}

div.top-banner nav > a {
    float: left;
    color: black;
}

div.top-banner nav ul li.right-nav {
    float: right;
}


@keyframes link-hover {
    100% {
        background-color: black;
        color: red;
    }
}

div.search {
    background-image: url(../imgs/home-background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;

    position: relative;
}

div.search div.layer {
    position: absolute;

    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);

    z-index: 0;
}

div.search form {
    height: 200px;

    display: flex;
    position: relative;
    justify-content: center;

    align-items: center;
}

div.search form input[type="text"] {
    outline: none;
    text-align: center;
    font-family: 'Benne', serif;
    font-size: 20px;

    width: 500px;
}

div.search > form input[type="button"] {
    padding: 10px 20px;
    background-image: url(../imgs/search-icon.png);
    background-size: contain;
    background-repeat: no-repeat;
}

div.search div.tags form {
    flex-wrap: wrap;
}

div.search div.tags form input[type="button"] {
    border-radius: 15px;

    margin-right: 5%;
}

div.search div.tags form input[type="button"]:hover {
    background-color: bisque;

    animation-name: tag-hover;
    animation-timing-function: linear;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

/*This is for laying out the create page, however they could be used for
  layouts*/

div.create {
  height:1100px
}

div.createLeft {
  float: left;
  width: 20%;
  background-color: #f0f8ff;
  height: 100%;
}

div.createright {
  float: right;
  width: 20%;
  background-color: #f0f8ff;
  height: 100%;
}
div.createmiddle {
  float: left;
  width: 60%;
}
div.createintro{
  margin: auto;
  padding: 40px;
  text-align: left;
}

#createText {
  resize: none;
  height: 800px;
  width: 800px;
}

/* Could add entrance tag to each animation */

@keyframes tag-hover {
    100% {
        border-color: red;
    }
}

div.recommended {
    display: flex;
    justify-content: left;

    background-color: lightblue;
}

article {
    width: 10%;

    padding: 20px;
    margin: 30px;
    background-color: lightslategray;
}
